* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #4e5052;
}

canvas {
  width: 100%;
  height: 100%;
}

#fps {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #d8d2c5;
}

#switcher {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
